#This files are not in the github repo:
#Pycharm Files
*.idea
#Virtual Environment
*venv
*env

#Cache:
*__pycache__

#Plot Data:
*plots
*logs
EDA/charts

#Pickle
*.pkl
*.npy
*.npz

#BrainStudy:
#Put your data here:
Data/*
DataBDF/*
DataMerged/*
#Runs (Training Log):
Models/checkpoints/*