.center {
    display: flex;
    justify-content: center;
}
.control_button {
    width: 240px;
    height: 40px;
    cursor: pointer;
    border: 0px;
    border-radius: 5px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    margin: 20px;
}
.image-container{
    display: flex;
    height: 100px;
}
.image-container img {
    flex: 1;
    float: left;
    object-fit:cover;
    object-position: center;
    height: 100%;
    width: auto;
}
#layout {
    clear: both;
}
#control_interface {
    clear: both;
    vertical-align: bottom;
}
#title {
    clear: both;
    vertical-align: bottom;
    font-weight: bold;
}
